<!DOCTYPE html>
<HTML lang="en">
    <head>
        <title>The Girls in Tech</title>
    </head>
    <body>
        <div>
            <header>
                The Girls in Tech
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main>
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </main>
            <footer>
                &copy; 2023 The Girls in Tech
            </footer>
        </div>
    </body>
</HTML>